<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RaspberryConteiner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RaspberryConteiner.Properties.Settings>
            <setting name="UserName1" serializeAs="String">
                <value>Jose</value>
            </setting>
            <setting name="PortAddress" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="DefMaxTemp" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DelayTemp" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UserName2" serializeAs="String">
                <value>Domingo</value>
            </setting>
            <setting name="UserName3" serializeAs="String">
                <value>Angel</value>
            </setting>
            <setting name="UserName4" serializeAs="String">
                <value>Anna</value>
            </setting>
            <setting name="UserName5" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName6" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName7" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName8" serializeAs="String">
                <value />
            </setting>
            <setting name="NumbersUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentUser" serializeAs="String">
                <value>Jose</value>
            </setting>
        </RaspberryConteiner.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>